@charset "UTF-8";
/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  border: none;
  text-decoration: none; }

*:focus {
  outline: none; }

ul, h1, h2, h3, h4 {
  margin: 0px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

@font-face {
  font-family: 'Conv_CentraleSans-Medium';
  src: url("../fonts/CentraleSans-Medium.eot");
  src: local("☺"), url("../fonts/CentraleSans-Medium.woff") format("woff"), url("../fonts/CentraleSans-Medium.ttf") format("truetype"), url("../fonts/CentraleSans-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
/*@font-face {
	font-family: 'Conv_Centrale Sans Medium';
	src: url('../fonts/Centrale Sans Medium.eot');
	src: local('☺'), url('../fonts/Centrale Sans Medium.woff') format('woff'), url('../fonts/Centrale Sans Medium.ttf') format('truetype'), url('fonts/Centrale Sans Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
  font-family: 'Conv_Centrale Sans Extra Light';
  src: url("../fonts/Centrale Sans Extra Light.eot");
  src: local("☺"), url("../fonts/Centrale Sans Extra Light.woff") format("woff"), url("../fonts/Centrale Sans Extra Light.ttf") format("truetype"), url("../fonts/Centrale Sans Extra Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_Centrale Sans Thin';
  src: url("../fonts/Centrale Sans Thin.eot");
  src: local("☺"), url("../fonts/Centrale Sans Thin.woff") format("woff"), url("../fonts/Centrale Sans Thin.ttf") format("truetype"), url("../fonts/Centrale Sans Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Conv_Centrale Sans Bold';
  src: url("../fonts/Centrale Sans Bold.eot");
  src: local("☺"), url("../fonts/Centrale Sans Bold.woff") format("woff"), url("../fonts/Centrale Sans Bold.ttf") format("truetype"), url("../fonts/Centrale Sans Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
#main_fluid {
  width: 100%;
  height: 100vh;
  background-image: url("../images/home_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.main_fluid_bot_arrow {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 100; }

.header_fluid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10; }
  .header_fluid .navigation {
    flex: 0 0 45%;
    background-color: #fff; }
    .header_fluid .navigation ul {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center; }
      .header_fluid .navigation ul li {
        position: relative;
        flex: 0 0 25%;
        text-align: center; }
        .header_fluid .navigation ul li:hover .dropdown_nav {
          display: block !important; }
      .header_fluid .navigation ul li:first-child a {
        position: relative; }
        .header_fluid .navigation ul li:first-child a:after {
          position: absolute;
          content: "";
          top: 3px;
          right: -37%;
          width: 22px;
          height: 10px;
          background-image: url(../images/navigation_arrow11.png);
          background-repeat: no-repeat; }
      .header_fluid .navigation ul a {
        color: #000000;
        font-family: 'Conv_CentraleSans-Medium';
        font-size: 12px;
        text-transform: uppercase;
        position: relative; }
        .header_fluid .navigation ul a:before {
          content: "";
          position: absolute;
          top: 16px;
          left: 0;
          width: 50%;
          height: 4px;
          background-color: #D90000;
          transition: .4s;
          opacity: 0; }
        .header_fluid .navigation ul a:hover:before {
          opacity: 1; }

.dropdown_nav {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: none;
  animation: homeAnime .4s; }
  .dropdown_nav ul {
    background-color: #fff;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px 0; }
    .dropdown_nav ul li {
      width: 80%;
      text-align: left !important; }
      .dropdown_nav ul li:not(:last-child) {
        margin-bottom: 20px; }
      .dropdown_nav ul li a {
        font-size: 11px !important; }
        .dropdown_nav ul li a:after {
          content: unset !important; }

.home_vertical_tittle {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 0;
  left: -13%; }
  .home_vertical_tittle .vert_tittle {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    animation: homeAnime .4s;
    display: none; }
    .home_vertical_tittle .vert_tittle.active {
      display: flex; }
    .home_vertical_tittle .vert_tittle .title_line {
      width: 130px;
      height: 3px;
      background-color: #fff;
      margin-right: 15px; }
    .home_vertical_tittle .vert_tittle h2 {
      color: #fff;
      font-family: 'Conv_CentraleSans-Medium';
      font-size: 22px;
      text-transform: uppercase; }

.home_main_container {
  width: 100%;
  display: flex;
  height: 100%; }
  .home_main_container .home_navbar {
    display: flex;
    align-items: center;
    margin-left: 15%; }
    .home_main_container .home_navbar ul li {
      margin-bottom: 50px; }
      .home_main_container .home_navbar ul li a {
        color: #fff;
        font-size: 22px;
        font-family: 'Conv_CentraleSans-Medium';
        text-transform: capitalize;
        border-bottom: 2.5px solid #fff;
        width: 225px;
        display: inline-block;
        text-align: center;
        padding: 5px 0px;
        border-radius: 62px 58px 4px 4px;
        transition: .4s; }
        .home_main_container .home_navbar ul li a.active {
          border-bottom: 2.5px solid #D90000; }
  .home_main_container .home_navbar_content {
    display: flex;
    align-items: center;
    width: 100%; }
    .home_main_container .home_navbar_content .home_navbar_info {
      max-width: 55vw;
      /* padding: 70px 100px;*/
      padding: 3.5vw 5vw;
      background-color: #fff;
      margin-left: 30px;
      display: none;
      perspective: 200px;
      animation: homeAnime .4s;
      position: relative; }
      .home_main_container .home_navbar_content .home_navbar_info .home_navbar_info_button {
        position: absolute;
        bottom: 5%;
        right: 5%;
        z-index: 100;
        cursor: pointer; }
      .home_main_container .home_navbar_content .home_navbar_info.active {
        display: block; }
      .home_main_container .home_navbar_content .home_navbar_info h2 {
        color: #000000;
        font-family: 'Conv_CentraleSans-Medium';
        font-size: 20px;
        margin-bottom: 35px;
        text-transform: capitalize; }
      .home_main_container .home_navbar_content .home_navbar_info p {
        color: #000;
        font-size: 16px;
        font-family: 'Conv_Centrale Sans Extra Light';
        text-align: justify; }

.navbar_pages {
  transition: .4s; }
  .navbar_pages.deactive {
    visibility: hidden;
    opacity: 0; }

@keyframes homeAnime {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#investors_fluid {
  width: 100%;
  height: 100vh;
  background-image: url("../images/investors_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

#investors_down_fluid {
  width: 100%;
  height: 100vh;
  background-image: url("../images/inv_down_bg11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.investors_container {
  width: 70%; }

.investors_table table {
  transform: rotate(-32deg); }

.investors_table table span {
  transform: rotate(33deg);
  display: block;
  color: #000000;
  font-size: 16px; }

.investors_table table tr:last-child td:first-child {
  border: none; }

.investors_table table tr:first-child td:first-child {
  border-left: none; }

.investors_table table tr td:first-child {
  border-right: 3px solid #000; }

.investors_table table tr td:last-child {
  border-left: 3px solid #000; }

.investors_table table td {
  /*padding: 86px 20px 52px 65px; */
  width: 227px;
  height: 142px;
  text-align: center; }

.line1 {
  position: absolute;
  height: 3px;
  width: 110%;
  background-color: #000;
  top: 35%;
  left: -24%; }

.line2 {
  position: absolute;
  height: 3px;
  width: 110%;
  background-color: #000;
  top: 50%;
  left: -6%; }

.line3 {
  position: absolute;
  height: 3px;
  width: 110%;
  background-color: #000;
  top: 66%;
  left: 11%; }

.investors_table {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff; }

.investor_down_container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative; }
  .investor_down_container .investors_white_shape {
    position: absolute;
    top: 0;
    left: -34%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
    width: 46%;
    clip-path: polygon(0 0, 54% 0, 99% 100%, 0% 100%); }
  .investor_down_container .investors_text_shape {
    width: 108px;
    height: 400px;
    float: left;
    shape-outside: polygon(3px -16px, 115px 400px, 31px 369px); }
  .investor_down_container .investros_content_box {
    display: none;
    border-bottom: 5px solid #D90000;
    padding: 15px 100px 10px 4px; }
    .investor_down_container .investros_content_box h2 {
      font-size: 18px;
      color: #1E1F2B;
      font-family: 'Conv_CentraleSans-Medium';
      margin-bottom: 12px; }
    .investor_down_container .investros_content_box p {
      color: #1E1F2B;
      font-family: 'Conv_CentraleSans-Medium';
      font-size: 13px;
      text-align: justify; }

#contact_fluid {
  width: 100%;
  height: 100vh;
  background-image: url("../images/contact_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.contact_main_container {
  width: 60%;
  position: relative;
  margin-bottom: 2%; }
  .contact_main_container .contact_fa_icons {
    position: absolute;
    bottom: -20%;
    left: 15%;
    display: flex;
    border-bottom: 2px solid red;
    padding: 0px 7px 10px 120px;
    z-index: 300; }
    .contact_main_container .contact_fa_icons a {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 2px solid #000;
      display: flex;
      align-items: center;
      justify-content: center; }
    .contact_main_container .contact_fa_icons a:not(:first-child) {
      margin-left: 10px; }
  .contact_main_container .contact_wrapper {
    display: flex;
    background-color: #fff;
    padding: 25px;
    position: relative; }
    .contact_main_container .contact_wrapper:after {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      border: 1px solid #000;
      top: 0;
      left: 0;
      z-index: 1; }
    .contact_main_container .contact_wrapper:before {
      position: absolute;
      width: 68%;
      height: 300%;
      content: "";
      background-color: #fff;
      top: -81%;
      left: -35%;
      z-index: 7;
      clip-path: polygon(0 0, 54% 0, 99% 100%, 0% 100%); }
    .contact_main_container .contact_wrapper .contact_map {
      flex: 0 0 70%;
      padding-right: 45px;
      position: relative;
      z-index: 1000; }
    .contact_main_container .contact_wrapper .contact_form {
      flex: 0 0 30%;
      position: relative;
      z-index: 2; }
      .contact_main_container .contact_wrapper .contact_form form {
        width: 100%;
        height: 100%; }
        .contact_main_container .contact_wrapper .contact_form form .form_send button {
          outline: none;
          border: 1px solid #000;
          background-color: #fff;
          text-transform: capitalize;
          color: #000 !important;
          font-family: 'Conv_CentraleSans-Medium';
          font-size: 12px;
          padding: 4px 30px;
          cursor: pointer; }
        .contact_main_container .contact_wrapper .contact_form form > div {
          width: 100%;
          margin-bottom: 10px; }
        .contact_main_container .contact_wrapper .contact_form form .form_textarea {
          margin-bottom: 0px; }
        .contact_main_container .contact_wrapper .contact_form form input {
          color: #000000;
          width: 100%;
          font-size: 12px;
          font-family: 'Conv_CentraleSans-Medium';
          padding: 15px 10px;
          border: 1px solid #000; }
          .contact_main_container .contact_wrapper .contact_form form input::placeholder {
            color: #000 !important; }
        .contact_main_container .contact_wrapper .contact_form form textarea {
          color: #000000;
          width: 100%;
          font-size: 12px;
          font-family: 'Conv_CentraleSans-Medium';
          padding: 15px 10px;
          border: 1px solid #000;
          resize: none;
          height: 294px; }
          .contact_main_container .contact_wrapper .contact_form form textarea::placeholder {
            color: #000 !important; }

#news_fluid {
  width: 100%;
  height: 100vh;
  background-image: url("../images/news_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

#news_inside_fluid {
  width: 100%;
  height: 100vh;
  background-image: url("../images/news_inside_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.news_container {
  width: 77%; }
  .news_container .news_tittle {
    padding-left: 15px; }
    .news_container .news_tittle h2 {
      font-size: 22px;
      font-family: 'Conv_CentraleSans-Medium';
      color: #fff;
      text-transform: capitalize;
      border-bottom: 2.5px solid #D90000;
      padding: 5px 40px;
      display: inline-block; }
  .news_container .news_row {
    display: flex;
    justify-content: space-between;
    margin-top: 3.7vw;
    position: relative; }
    .news_container .news_row .news_scroll_box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      display: flex;
      align-items: center; }
      .news_container .news_row .news_scroll_box .news_scroll_line {
        width: 130px;
        height: 3px;
        background-color: #fff;
        margin-right: 15px; }
      .news_container .news_row .news_scroll_box h3 {
        color: #fff;
        font-size: 22px;
        font-family: 'Conv_CentraleSans-Medium';
        text-transform: uppercase; }
    .news_container .news_row .news_wrapper {
      overflow-y: scroll;
      height: calc(120px *3 + 72px); }
      .news_container .news_row .news_wrapper::-webkit-scrollbar {
        width: 5px; }
      .news_container .news_row .news_wrapper .news_box {
        padding: 20px 25px 0 25px;
        background-color: #fff;
        flex-direction: column;
        display: flex;
        padding: 20px 35px 0 35px; }
        .news_container .news_row .news_wrapper .news_box:not(:last-child) {
          margin-bottom: 35px; }
        .news_container .news_row .news_wrapper .news_box h3 {
          color: #000000;
          font-size: 20px;
          font-family: 'Conv_CentraleSans-Medium';
          margin-bottom: 15px; }
        .news_container .news_row .news_wrapper .news_box span {
          color: #000000;
          font-size: 12px;
          font-family: 'Conv_Centrale Sans Extra Light'; }
        .news_container .news_row .news_wrapper .news_box a {
          color: #D90000;
          font-family: 'Conv_CentraleSans-Medium';
          font-size: 12px;
          align-self: flex-end;
          margin-top: 20px;
          margin-bottom: 5px; }

/*// news inside*/
.news_inside_container {
  width: 77%; }
  .news_inside_container .news_in_tittle {
    padding-left: 15px; }
    .news_inside_container .news_in_tittle h2 {
      font-size: 22px;
      font-family: 'Conv_CentraleSans-Medium';
      color: #fff;
      text-transform: capitalize;
      border-bottom: 2.5px solid #D90000;
      padding: 5px 40px;
      display: inline-block; }
  .news_inside_container .news_in_wrapper {
    background-color: #fff;
    padding: 50px 200px 50px 100px;
    margin-top: 3.7vw;
    position: relative; }
    .news_inside_container .news_in_wrapper .news_in_wrapper_back {
      position: absolute;
      top: 5%;
      right: 5%; }
      .news_inside_container .news_in_wrapper .news_in_wrapper_back a {
        display: block; }
    .news_inside_container .news_in_wrapper .news_in_text_tittle {
      width: 40%; }
      .news_inside_container .news_in_wrapper .news_in_text_tittle h3 {
        font-size: 20px;
        color: #000;
        margin-bottom: 5px;
        font-family: 'Conv_CentraleSans-Medium'; }
      .news_inside_container .news_in_wrapper .news_in_text_tittle span {
        font-size: 12px;
        font-family: 'Conv_Centrale Sans Extra Light';
        color: #000; }
    .news_inside_container .news_in_wrapper .news_in_text {
      margin-top: 50px; }
      .news_inside_container .news_in_wrapper .news_in_text p {
        color: #000;
        font-size: 16px;
        font-family: 'Conv_Centrale Sans Extra Light'; }

#about_fluid {
  width: 100%;
  height: 100vh;
  background-image: url("../images/about_us_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.about_vertical_tittle {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 0;
  left: -13%; }
  .about_vertical_tittle .vert_tittle {
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    animation: homeAnime .4s;
    display: none; }
    .about_vertical_tittle .vert_tittle.active {
      display: flex; }
    .about_vertical_tittle .vert_tittle .title_line {
      width: 130px;
      height: 3px;
      background-color: #000;
      margin-right: 15px; }
    .about_vertical_tittle .vert_tittle h2 {
      color: #000;
      font-family: 'Conv_CentraleSans-Medium';
      font-size: 22px;
      text-transform: uppercase; }

.about_fa_icons {
  position: absolute;
  bottom: 20%;
  left: 49%;
  display: flex;
  border-bottom: 2px solid red;
  padding: 0px 7px 10px 120px; }
  .about_fa_icons a {
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center; }
    .about_fa_icons a:not(:first-child) {
      margin-left: 10px; }

.about_container {
  width: 35%;
  margin-left: 7%;
  margin-bottom: 5%; }
  .about_container .about_tittle h2 {
    font-size: 22px;
    font-family: 'Conv_CentraleSans-Medium';
    color: #000;
    text-transform: capitalize;
    border-bottom: 2.5px solid #D90000;
    padding: 5px 40px;
    display: inline-block;
    padding: 0px 15px 5px 0px; }
  .about_container .about_info_box {
    margin-top: 40px; }
    .about_container .about_info_box p {
      color: #000;
      font-size: 16px;
      font-family: 'Conv_Centrale Sans Extra Light'; }

#team_fluid {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/team_bgg11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.team_container {
  max-width: 1230px; }
  .team_container .owl-carousel {
    position: relative; }
  .team_container .owl-dots {
    display: none; }
  .team_container .team_slide .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 115%;
    z-index: -1; }
    .team_container .team_slide .owl-nav .owl-prev, .team_container .team_slide .owl-nav .owl-next {
      outline: none;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center; }
      .team_container .team_slide .owl-nav .owl-prev span, .team_container .team_slide .owl-nav .owl-next span {
        display: none; }
    .team_container .team_slide .owl-nav .owl-prev {
      background-image: url("../images/slider_left.png"); }
    .team_container .team_slide .owl-nav .owl-next {
      background-image: url("../images/slider_right.png"); }
  .team_container .team_slide .item {
    display: flex;
    justify-content: center;
    position: relative; }
    .team_container .team_slide .item .slider_icons {
      position: absolute;
      right: -30px;
      top: 0; }
      .team_container .team_slide .item .slider_icons a {
        width: 30px;
        height: 30px;
        background-color: #5B5B5B;
        display: flex;
        justify-content: center;
        align-items: center; }
        .team_container .team_slide .item .slider_icons a:not(:last-child) {
          margin-bottom: 10px; }
        .team_container .team_slide .item .slider_icons a img {
          width: unset; }
    .team_container .team_slide .item .team_box {
      /*width: 213px;*/
      width: 100%; }
      .team_container .team_slide .item .team_box .team_img {
        background-image: url("../images/news_bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 4px solid #5B5B5B;
        border-bottom: 4px solid #D90000;
        height: 290px;
        display: flex;
        align-items: flex-end;
        justify-content: center; }
        .team_container .team_slide .item .team_box .team_img a {
          	/*display: flex;
              align-items: flex-end;
              width: 100%;
              height: 100%;*/ }
          .team_container .team_slide .item .team_box .team_img a img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            text-align: center; }
      .team_container .team_slide .item .team_box .team_info {
        background-color: #5B5B5B;
        text-align: center;
        padding: 6px 0;
        margin-top: 10px;
        padding: 7px 0; }
        .team_container .team_slide .item .team_box .team_info h3 {
          font-size: 16px;
          font-family: 'Conv_CentraleSans-Medium';
          text-transform: uppercase;
          color: #fff; }
        .team_container .team_slide .item .team_box .team_info span {
          color: #fff;
          font-size: 12px;
          font-family: 'Conv_CentraleSans-Medium';
          text-transform: capitalize; }

#team_info_fluid {
  width: 100%;
  height: 100vh;
  background-image: url("../images/team_info_bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.team_info_container {
  width: 77%;
  display: flex;
  position: relative;
  justify-content: space-between; }
  .team_info_container .info_lines {
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-57%); }
    .team_info_container .info_lines img {
      width: 2320px; }
  .team_info_container .team_info_button {
    position: absolute;
    bottom: 14%;
    right: 3.2%;
    z-index: 100;
    cursor: pointer; }
  .team_info_container .team_info_img {
    flex: 0 0 35%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .team_info_container .team_info_img img {
      display: block;
      margin-bottom: 2%; }
  .team_info_container .team_info_content {
    /*flex: 0 0 65%;*/
    width: 840px;
    background-color: #fff;
    padding: 50px 50px 120px 50px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 95%, 74% 100%, 0 96%, 0 0); }
    .team_info_container .team_info_content .team_readmore {
      margin-top: 20px; }
      .team_info_container .team_info_content .team_readmore p {
        font-size: 12px;
        color: #3F3F3F;
        font-family: 'Conv_CentraleSans-Medium';
        text-align: justify; }
    .team_info_container .team_info_content .team_profile_info {
      display: flex;
      justify-content: space-between; }
      .team_info_container .team_info_content .team_profile_info .team_social_icons {
        display: flex; }
        .team_info_container .team_info_content .team_profile_info .team_social_icons a {
          border-radius: 50%;
          width: 35px;
          height: 35px;
          border: 2px solid #000;
          display: flex;
          align-items: center;
          justify-content: center; }
          .team_info_container .team_info_content .team_profile_info .team_social_icons a:not(:first-child) {
            margin-left: 10px; }
          .team_info_container .team_info_content .team_profile_info .team_social_icons a:first-child img {
            width: 8px; }
          .team_info_container .team_info_content .team_profile_info .team_social_icons a:last-child img {
            width: 19px; }
          .team_info_container .team_info_content .team_profile_info .team_social_icons a img {
            width: 15px; }
      .team_info_container .team_info_content .team_profile_info .team_name_contact h2 {
        font-size: 17px;
        color: #000;
        font-family: 'Conv_CentraleSans-Medium';
        margin-bottom: 15px; }
      .team_info_container .team_info_content .team_profile_info .team_name_contact span {
        color: #00005F;
        font-size: 12px;
        font-family: 'Conv_CentraleSans-Medium';
        display: block; }

#practice_area_fluid {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../images/areas_bg11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.practice_area_contaiener {
  width: 70%;
  margin-left: 12%;
  display: flex;
  height: 100%;
  align-items: center;
  position: relative; }
  .practice_area_contaiener:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    left: -17%;
    background-color: #fff;
    clip-path: polygon(0 0, 66% 0, 99% 100%, 0% 100%);
    width: 52%;
    height: 100%; }
  .practice_area_contaiener .practice_area_wrapper {
    display: flex; }
  .practice_area_contaiener .practice_area_content_box {
    flex: 0 0 75%;
    display: flex; }
    .practice_area_contaiener .practice_area_content_box .text_shape {
      width: 120px;
      height: 100%;
      float: left;
      shape-outside: polygon(-1px 7px, 78px 317px, 63px 320px); }
    .practice_area_contaiener .practice_area_content_box .practice_area_text {
      background-color: #1E1F2B;
      border-bottom: 5px solid #D90000;
      padding: 50px 35px 35px 90px;
      -webkit-clip-path: polygon(85% 0%, 100% 0, 100% 100%, 11% 100%, 0% 0);
      clip-path: polygon(85% 0%, 100% 0, 100% 100%, 11% 100%, 0% 0);
      max-height: 415px; }
      .practice_area_contaiener .practice_area_content_box .practice_area_text:not(:first-child) {
        display: none; }
      .practice_area_contaiener .practice_area_content_box .practice_area_text p {
        color: #fff;
        font-size: 12px;
        font-family: 'Conv_CentraleSans-Medium';
        text-align: justify; }
  .practice_area_contaiener .practice_area_list_box {
    flex: 0 0 20%;
    position: relative;
    z-index: 2000; }
    .practice_area_contaiener .practice_area_list_box .practice_list_tittle {
      margin-bottom: 20px; }
      .practice_area_contaiener .practice_area_list_box .practice_list_tittle h3 {
        color: #000;
        font-size: 18px;
        font-family: 'Conv_CentraleSans-Medium'; }
    .practice_area_contaiener .practice_area_list_box ul {
      padding-left: 19px; }
      .practice_area_contaiener .practice_area_list_box ul li {
        color: #515151;
        font-size: 12px;
        position: relative;
        margin-bottom: 20px;
        cursor: pointer; }
        .practice_area_contaiener .practice_area_list_box ul li:after {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -25px;
          content: "";
          background-image: url(../images/areas_list_icon11.png);
          background-repeat: no-repeat;
          background-position: center center;
          width: 20px;
          height: 20px; }

#references_fluid {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/team_bgg11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.references_container {
  width: 70%;
  background-repeat: no-repeat;
  background-image: url(../images/reference_box_bg11.png);
  background-position: center center;
  background-size: contain;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center; }
  .references_container .references_content_box {
    width: 70%; }
    .references_container .references_content_box .reference_text_box p {
      font-size: 18px;
      color: #000000;
      font-family: 'Conv_CentraleSans-Medium'; }
    .references_container .references_content_box .reference_text_box span {
      color: #000000;
      font-size: 16px; }

#reviews_fluid {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../images/areas_bg11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.reviews_contaiener {
  width: 70%;
  margin-left: 12%;
  margin-top: 10%;
  display: flex;
  height: 100%;
  align-items: center;
  position: relative; }
  .reviews_contaiener .clients_info_container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 1;
    padding: 70px 20px 0px 20px; }
    .reviews_contaiener .clients_info_container .client_info_box {
      flex: 0 0 25%;
      text-align: center;
      display: flex;
      justify-content: center; }
      .reviews_contaiener .clients_info_container .client_info_box .client_info {
        text-align: left; }
      .reviews_contaiener .clients_info_container .client_info_box h2 {
        color: #000;
        font-size: 16px;
        font-family: 'Conv_CentraleSans-Medium';
        position: relative;
        display: inline-block; }
        .reviews_contaiener .clients_info_container .client_info_box h2:after {
          content: "";
          top: 20px;
          left: 0;
          width: 58px;
          height: 3px;
          background-color: #D90000;
          position: absolute; }
      .reviews_contaiener .clients_info_container .client_info_box span {
        font-size: 45px;
        font-family: 'Conv_Centrale Sans Bold';
        display: block;
        margin-top: 20px; }
  .reviews_contaiener .owl-dots {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -8%; }
    .reviews_contaiener .owl-dots button {
      background-color: #6F7073;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 8px;
      transition: .5s; }
      .reviews_contaiener .owl-dots button.active {
        /*width: 15px;
        height: 15px;*/
        transform: scale(1.5);
        background-color: #565656; }
      .reviews_contaiener .owl-dots button.active10 {
        background-color: #6F7073;
        transform: scale(1.3);
        /*width: 10px;
        height: 10px;*/ }
      .reviews_contaiener .owl-dots button.active8 {
        background-color: #919191;
        transform: scale(1.5) !important;
        width: 7px;
        height: 7px; }
  .reviews_contaiener:after {
    content: "";
    position: absolute;
    top: -11%;
    left: 0;
    left: -17%;
    background-color: #fff;
    clip-path: polygon(0 0, 66% 0, 99% 100%, 0% 100%);
    width: 44%;
    height: 100%; }
  .reviews_contaiener .reviews_slide {
    height: 100%;
    position: relative; }
    .reviews_contaiener .reviews_slide .owl-stage-outer {
      height: 100% !important; }
      .reviews_contaiener .reviews_slide .owl-stage-outer .owl-stage {
        height: 100% !important; }
        .reviews_contaiener .reviews_slide .owl-stage-outer .owl-stage .owl-item {
          height: 100% !important; }
          .reviews_contaiener .reviews_slide .owl-stage-outer .owl-stage .owl-item .item {
            height: 100% !important; }
            .reviews_contaiener .reviews_slide .owl-stage-outer .owl-stage .owl-item .item .review_slide_box {
              height: 100%; }
  .reviews_contaiener .reviews_contaiener_wrapper {
    width: 100%; }
    .reviews_contaiener .reviews_contaiener_wrapper .reviews_slider {
      max-width: 1000px;
      height: 355px;
      margin: 0 auto;
      background-color: #fff;
      border-bottom: 5px solid #D90000;
      position: relative;
      z-index: 1; }
  .reviews_contaiener .review_slide_box {
    display: flex;
    justify-content: center; }
    .reviews_contaiener .review_slide_box .review_slide_text {
      flex: 0 0 50%;
      padding: 55px 0px; }
      .reviews_contaiener .review_slide_box .review_slide_text h2 {
        color: #000000;
        font-size: 16px;
        font-family: 'Conv_CentraleSans-Medium'; }
      .reviews_contaiener .review_slide_box .review_slide_text span {
        font-family: 'Conv_CentraleSans-Medium';
        font-size: 12px;
        color: #000; }
      .reviews_contaiener .review_slide_box .review_slide_text p {
        font-family: 'Conv_Centrale Sans Thin';
        color: #000;
        font-size: 12px;
        margin-top: 15px; }
    .reviews_contaiener .review_slide_box .review_slide_img {
      flex: 0 0 25%;
      display: flex;
      align-items: flex-end;
      padding-top: 25px; }
      .reviews_contaiener .review_slide_box .review_slide_img img {
        height: 100%;
        object-fit: contain;
        width: 100%; }

.bullet_box {
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center; }
  .bullet_box .bullet {
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 50%;
    transition: .4s;
    background-color: #565656; }
    .bullet_box .bullet.active {
      /*width: 15px;
      height: 15px;*/
      transform: scale(1.5);
      background-color: #565656; }
    .bullet_box .bullet.active10 {
      background-color: #6F7073;
      transform: scale(1.3);
      /*width: 10px;
      height: 10px;*/ }
    .bullet_box .bullet.active8 {
      background-color: #919191;
      transform: scale(1.5) !important;
      width: 7px;
      height: 7px; }

#office_fluid {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../images/areas_bg11.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.office_container {
  width: 70%; }

/*# sourceMappingURL=main.css.map */
