@font-face {
	font-family: 'Conv_CentraleSans-Medium';
	src: url('../fonts/CentraleSans-Medium.eot');
	src: local('☺'), url('../fonts/CentraleSans-Medium.woff') format('woff'), url('../fonts/CentraleSans-Medium.ttf') format('truetype'), url('fonts/CentraleSans-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*@font-face {
	font-family: 'Conv_Centrale Sans Medium';
	src: url('../fonts/Centrale Sans Medium.eot');
	src: local('☺'), url('../fonts/Centrale Sans Medium.woff') format('woff'), url('../fonts/Centrale Sans Medium.ttf') format('truetype'), url('fonts/Centrale Sans Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
	font-family: 'Conv_Centrale Sans Extra Light';
	src: url('../fonts/Centrale Sans Extra Light.eot');
	src: local('☺'), url('../fonts/Centrale Sans Extra Light.woff') format('woff'), url('../fonts/Centrale Sans Extra Light.ttf') format('truetype'), url('fonts/Centrale Sans Extra Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
