#investors_fluid{
	
	width: 100%;
	 height: 100vh;
	 background-image: url("../images/investors_bg.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;

	
}

#investors_down_fluid {
	width: 100%;
	 height: 100vh;
	 background-image: url("../images/inv_down_bg11.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}


.investors_container {

	 width: 70%;
}

.investors_table table {
           transform: rotate(-32deg);
	}
	.investors_table table span {
           transform: rotate(33deg);
           display: block;
           color: #000000;
           font-size: 16px;
	}
	.investors_table table tr:last-child td:first-child{
        border: none;
	}
	.investors_table table tr:first-child td:first-child{
        border-left: none;
	}
	.investors_table table tr td:first-child{
         border-right: 3px solid #000;
	}
	.investors_table table tr td:last-child{
         border-left: 3px solid #000;
	}
	.investors_table table td{
    /*padding: 86px 20px 52px 65px; */
    width: 227px;
    height: 142px;
    text-align: center;
	}
	.line1{
		    position: absolute;
    height: 3px;
    width: 110%;
    background-color: #000;
    top: 35%;
    left: -24%;
	}
	.line2{
	position: absolute;
    height: 3px;
    width: 110%;
    background-color: #000;
    top: 50%;
    left: -6%;
	}
	.line3{
	    position: absolute;
    height: 3px;
    width: 110%;
    background-color: #000;
    top: 66%;
    left: 11%;
	}


	.investors_table{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
	}



.investor_down_container {

		width: 60%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    position: relative;

	    .investors_white_shape {
	    	    position: absolute;
			    top: 0;
			    left: -34%;
			    height: 100%;
			    z-index: 1;
			    background-color: #fff;
			    width: 46%;
			    clip-path: polygon(0 0, 54% 0, 99% 100%, 0% 100%);
	    }


	.investors_text_shape {

		    width: 108px;
		    height: 400px;
		    float: left;
		   shape-outside: polygon(2px -19px, 119px 517px, 34px 368px);

	}
    	


	 .investros_content_box {
			
		display: none;	
	 	border-bottom: 5px solid #D90000;
	 	       padding: 15px 100px 10px 4px;
	 	      

	 	 	 h2 {
	 	 	 	font-size: 18px;
	 	 	 	color: #1E1F2B;
	 	 	 	font-family: 'Conv_CentraleSans-Medium';
	 	 	 	    margin-bottom: 12px;
	 	 	 }

	 	 	 p{
	 	 	 	color: #1E1F2B;
	 	 	 	font-family: 'Conv_CentraleSans-Medium';
	 	 	 	font-size: 13px;
	 	 	 	text-align: justify;

	 	 	 }
	 }
}


