#investors_fluid{
	
	width: 100%;
	 height: 100vh;
	 background-image: url("../images/investors_bg.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;

	
}

#investors_down_fluid {
	width: 100%;
	 height: 100vh;
	 background-image: url("../images/inv_down_bg11.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}


.investors_container {

	 width: 70%;
}

.investors_table table {
           transform: rotate(-32deg);
	}
	.investors_table table span {
           transform: rotate(33deg);
           display: block;
           color: #000000;
           font-size: 16px;
	}
	.investors_table table tr:last-child td:first-child{
        border: none;
	}
	.investors_table table tr:first-child td:first-child{
        border-left: none;
	}
	.investors_table table tr td:first-child{
         border-right: 3px solid #000;
	}
	.investors_table table tr td:last-child{
         border-left: 3px solid #000;
	}
	.investors_table table td{
    /*padding: 86px 20px 52px 65px; */
    width: 227px;
    height: 142px;
    text-align: center;
	}
	.line1{
		    position: absolute;
    height: 3px;
    width: 110%;
    background-color: #000;
    top: 35%;
    left: -24%;
	}
	.line2{
	position: absolute;
    height: 3px;
    width: 110%;
    background-color: #000;
    top: 50%;
    left: -6%;
	}
	.line3{
	    position: absolute;
    height: 3px;
    width: 110%;
    background-color: #000;
    top: 66%;
    left: 11%;
	}


	.investors_table{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
	}



.investor_down_container {

		width: 60%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    position: relative;

	    .investors_white_shape {
	    	    position: absolute;
			    top: 0;
			    left: -34%;
			    height: 100%;
			    z-index: 1;
			    background-color: #fff;
			    width: 46%;
			    clip-path: polygon(0 0, 54% 0, 99% 100%, 0% 100%);
	    }


	.investors_text_shape {

		    width: 148px;
		    height: 400px;
		    float: left;
		   shape-outside: polygon(-9px -19px, 128px 516px, 34px 368px);

	}
    	


	 .investros_content_box {
			
		display: none;	
	 	border-bottom: 5px solid #D90000;
	 	 padding: 15px 100px 10px 4px;
	 	 margin-right: 4%;

	 	 width: 1105px;
	 	 height: 430px;
	 	      

	 	 	 h2 {
	 	 	 	font-size: 18px;
	 	 	 	color: #1E1F2B;
	 	 	 	font-family: 'Conv_CentraleSans-Medium';
	 	 	 	    margin-bottom: 12px;
	 	 	 }

	 	 	 p{
	 	 	 	color: #1E1F2B;
	 	 	 	font-family: 'Conv_CentraleSans-Medium';
	 	 	 	font-size: 13px;
	 	 	 	text-align: justify;

	 	 	 }
	 }
}


/*Responsive*/

@media only screen and (max-width: 1620px){
.investor_down_container .investors_text_shape {
    width: 148px;
    height: 432px;
    shape-outside: polygon(-1px -18px, 128px 517px, 34px 368px);

}

.investor_down_container {
    width: 65%;
   
}

}



@media only screen and (max-width: 1500px){

	.investors_table table td {
   
    width: 205px;
    height: 130px;
   
	}
	.investors_table {
  
    width: 50%;
}
.investors_table table span {
 
    font-size: 15px;
}

.investors_table {
  
    left: 54%;
   
}

.investor_down_container .investros_content_box p {
 
    font-size: 12px;
    
}


}

@media only screen and (max-width: 1400px) {

.investor_down_container {
    width: 70%;

}

}

@media only screen and (max-width: 1200px){

	.investors_table {
   			 width: 55%;
	}
}



@media only screen and (max-width: 1376px) and (max-height: 800px){


.investor_down_container .investors_white_shape {
    position: absolute;
    top: 0;
    left: -34%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
    width: 70%;
        clip-path: polygon(0 0, 67% 0, 99% 100%, 0% 100%);
}

.investor_down_container .investros_content_box {

    width: 783px;
    height: 404px;
    margin-left: 21%;
}	

.investors_table table td {
    width: 163px;
    height: 102px;
}
.investors_table table span {
    font-size: 13px;
}
.investors_table {
  
    top: 55%;
  
}

.investor_down_container .investros_content_box p {
    font-size: 11px;
}

.investor_down_container .investors_text_shape {
    shape-outside: polygon(1px -7px, 122px 352px, -2px 353px);
    height: 338px;
}

.investor_down_container .investros_content_box {
   
    padding: 15px 50px 10px 4px;
   
}
.investor_down_container {
    width: 80%;
}


}

@media only screen and (max-width: 1366px){
	.investors_table {
    width: 40%;
}
}

@media only screen and (max-width: 1366px) and (max-height: 800px){
	.investors_table {
    width: 55%;
}
}

@media only screen and (max-width: 1200px) {


.investor_down_container {
    width: 80%;
}
.investor_down_container .investros_content_box {

    padding: 15px 30px 10px 4px;
  
}

}


@media only screen and (max-width: 1200px) and (max-height: 780px)  {


.investor_down_container .investors_text_shape {
    shape-outside: polygon(1px -7px, 90px 352px, -2px 353px);
}

}



@media only screen and (max-width: 1024px) and (max-height: 800px)  {

.investor_down_container .investors_text_shape {
    height: 415px;
}

.investor_down_container .investors_text_shape {
    shape-outside: polygon(1px -7px, 106px 434px, 2px 434px);
}

.inv_text_wrap {
	width: 680px;
}


}


@media only screen and (max-width: 1024px) and (max-height: 640px)  {
.investor_down_container .investros_content_box p {
    font-size: 10px;
}
.investor_down_container .investros_content_box {
    
    height: 382px;
 
}

.investor_down_container .investors_text_shape {
    shape-outside: polygon(1px -7px, 106px 357px, 2px 434px);
}

}

