#office_fluid {
	width: 100%;
	 height: 100vh;
	 background-image:url("../images/office_bg_2.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;

    &:after{
    	content:"";
    	position: absolute;
    	top: 0;
    	left: 0;
    	background-color: #fff;
    	width: 56%;
    	height: 100%;
    	z-index: 1;
    	-webkit-clip-path: polygon(0 0, 78% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 78% 0, 100% 100%, 0% 100%);

    }
}



.office_container {
	
	 width: 70%{

	 }
}

.office_slider {

	section{
		position: relative;

		.controls {

			left: 50%;
		    position: absolute;
		    top: 50%;
		    transform: translate(-50%,-50%);
			z-index: 1000;

			   
		}
	}
}

.clear { clear: both; }

.controls {
  width: 120%;
  
}

.cbcontrol {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cbControlLeft{
	float: left;
}
#cbControlRight { 

	float: right;

	 }

.cbcontrol:hover { cursor: pointer; }

.stage {
  /*background-color: #000000;*/
  float: left;
  height: 460px;
  overflow: hidden;
  width: 100%;
  /*max-width: 800px;*/
  z-index: 10;
  position: relative;
  -webkit-backface-visibility: hidden;
      display: flex;
    align-items: center;
    justify-content: center;
}


.cbImage {
  width: 350px;
  height: 268px;
  float: left;
  /*margin: 25px 0px 25px 0px;*/
  border-bottom: 5px solid #D90000;
 
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

      &.active {
      z-index: 100;
      -webkit-transform: perspective(500px) rotateY(0deg);
      -O-transform: perspective(500px) rotateY(0deg);
      transform: perspective(500px) rotateY(0deg);
      -webkit-transition: all .5s ease-out;
      -O-transition: all .5s ease-out;
      transition: all .5s ease-out;
      box-shadow: -5px 2px 20px 0px #000000;
    }
}

.cbImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inactiveLeft {
  -webkit-transform: perspective(500px) rotateY(60deg);
  -O-transform: perspective(500px) rotateY(60deg);
  transform: perspective(500px) rotateY(60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
      box-shadow: -5px 2px 20px 0px #000000;
}

.inactiveRight {
  -webkit-transform: perspective(500px) rotateY(-60deg);
  -O-transform: perspective(500px) rotateY(-60deg);
  transform: perspective(500px) rotateY(-60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
  box-shadow: -12px 0px 20px 0px #d6d6d6;
}



.intro { color: #fff; }
