#practice_area_fluid {
	width: 100%;
	 height: 100vh;
	 background-image: linear-gradient(rgba(255,255,255, .85), rgba(255,255,255, .85)) ,url("../images/areas_bg11.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}



.practice_area_contaiener {
			width: 70%;
   			margin-left: 12%;
   			display: flex;
   			height: 100%;
   			align-items: center;
   			position: relative;

   			&:after{
   				    content: "";
				    position: absolute;
				    top: 0;
				    left: 0;
				    left: -17%;
				    background-color: #fff;
				    clip-path: polygon(0 0, 66% 0, 99% 100%, 0% 100%);
				    width: 52%;
				    height: 100%;
   			}

   			.practice_area_wrapper {
   				display: flex;
   			}

   		.practice_area_content_box {

   			 flex:0 0 75%;
   			 display: flex;

   			 .text_shape {
				width: 120px;
				height: 120%;
				float: left;
				    shape-outside: polygon(17px 85px, 101px 457px, -21px -112px);
   			 }

			
				.practice_area_text{
					background-color: #1E1F2B;
					border-bottom: 5px solid #D90000;
					padding: 50px 35px 35px 75px;
					max-height: 415px;
						
						&:not(:first-child){
							display: none;
						}

					 p {

					 	color: #fff;
					 	font-size: 12px;
					 	font-family: 'Conv_CentraleSans-Medium';
					 	text-align: justify;
					 	opacity:0;
					 	transition:.8s;


					 }
				}

   		}	

	  .practice_area_list_box {
	  	    
	  	    flex:0 0 20%;
	  	    position: relative;
    		z-index: 2000;
	
		.practice_list_tittle{
			margin-bottom: 20px;


				h3 {
			  	 	color: #000;
			  	 	font-size: 18px;
			  	 	font-family: 'Conv_CentraleSans-Medium';
	  	 		}
			}


		ul {
			    padding-left: 19px;

			li {

				color: #515151;
				font-size: 12px;
				position: relative;
				margin-bottom: 20px;
				cursor: pointer;

					&:after{

					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    left: -25px;
					    content: "";
					    background-image: url(../images/areas_list_icon11.png);
					    background-repeat: no-repeat;
					    background-position: center center;
					    width: 20px;
					    height: 20px;
					}
			}
		}	
	  	 
	  }


}