#practice_area_fluid {
	width: 100%;
	 height: 100vh;
	 background-image: linear-gradient(rgba(255,255,255, .85), rgba(255,255,255, .85)) ,url("../images/areas_bg11.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: flex-start;
}



.practice_area_contaiener {
			width: 70%;
   			margin-left: 12%;
   			display: flex;
   			height: 100%;
   			align-items: center;
   			position: relative;

   			&:after{
   				    content: "";
				    position: absolute;
				    top: 0;
				    left: 0;
				    left: -17%;
				    background-color: #fff;
				    clip-path: polygon(0 0, 66% 0, 99% 100%, 0% 100%);
				    width: 52%;
				    height: 100%;
   			}

   			.practice_area_wrapper {
   				display: flex;
   			}

   		.practice_area_content_box {

   			 flex:0 0 75%;
   			 display: flex;

   			 .text_shape {
				width: 120px;
				height: 362px;
				float: left;
				shape-outside: polygon(-26px 97px, 116px 457px, -21px -112px)
   			 }

			
				.practice_area_text{
					background-color: #1E1F2B;
					border-bottom: 5px solid #D90000;
					padding: 50px 35px 35px 75px;
					max-height: 415px;
						
						&:not(:first-child){
							display: none;
						}

					 p {

					 	color: #fff;
					 	font-size: 12.5px;
					 	font-family: 'Conv_CentraleSans-Medium';
					 	text-align: justify;
					 	opacity:0;
					 	transition:.8s;


					 }
				}

   		}	

	  .practice_area_list_box {
	  	    
	  	    flex:0 0 20%;
	  	    position: relative;
    		z-index: 2000;
	
		.practice_list_tittle{
			margin-bottom: 20px;


				h3 {
			  	 	color: #000;
			  	 	font-size: 18px;
			  	 	font-family: 'Conv_CentraleSans-Medium';
	  	 		}
			}


		ul {
			    padding-left: 19px;

			li {

				color: #515151;
				font-size: 12px;
				position: relative;
				margin-bottom: 20px;
				cursor: pointer;

					&:after{

					    position: absolute;
					    top: 50%;
					    transform: translateY(-50%);
					    left: -25px;
					    content: "";
					    background-image: url(../images/areas_list_icon11.png);
					    background-repeat: no-repeat;
					    background-position: center center;
					    width: 20px;
					    height: 20px;
					}
			}
		}	
	  	 
	  }


}




/*responsive*/

@media only screen and (max-width: 1680px){
.practice_area_contaiener .practice_area_content_box .text_shape {
    width: 120px;
    height: 362px;
    float: left;
    shape-outside: polygon(-26px 97px, 95px 455px, -21px -112px);
}


}
@media only screen and (max-width: 1640px) {

	.practice_area_contaiener .practice_area_content_box {
   	 	flex: 0 0 85%;
   	 	
	}
	.practice_area_contaiener .practice_area_content_box .practice_area_text {
    
    padding: 50px 35px 35px 55px;
    
}

}



@media only screen and (max-width: 1440px) {

	.practice_area_contaiener .practice_area_content_box {
   	 	flex: 0 0 90%;
	}

	.practice_area_contaiener .practice_area_content_box .practice_area_text p {
 
    font-size: 11.5px;
    
}

.practice_area_contaiener .practice_area_content_box .text_shape {
    shape-outside: polygon(-29px 103px, 96px 457px, -21px -112px);
}
}


@media only screen and (max-width: 1240px) {
	
	.practice_area_contaiener .practice_area_content_box .practice_area_text p {
    font-size: 10.5px;
}
.practice_area_contaiener .practice_area_content_box .text_shape {
    shape-outside: polygon(-32px 88px, 81px 455px, -23px -118px);
}

}


@media only screen and (max-width: 1367px) and (max-height: 750px ){


	.practice_area_contaiener .practice_area_content_box .practice_area_text {
    padding: 35px 33px 21px 44px;
}

.practice_area_contaiener .practice_area_content_box .practice_area_text {
    padding: 35px 35px 35px 39px;
    max-height: 355px;
        margin-top: 11%;
}

.practice_area_contaiener .practice_area_content_box .text_shape {
    shape-outside: polygon(-38px 282px, 129px 542px, 2px -48px);
}


}



@media only screen and (max-width: 1024px) and (max-height: 800px ){

.practice_area_contaiener .practice_area_content_box .text_shape {
    shape-outside: polygon(-32px 76px, 72px 453px, -24px -118px);
}
.practice_area_contaiener .practice_area_list_box ul li {
  
    margin-bottom: 15px;
 
}

}


@media only screen and (max-width: 1024px) and (max-height: 640px ){

.practice_area_contaiener .practice_area_content_box .practice_area_text p {
    font-size: 10px;
}
.practice_area_contaiener .practice_area_content_box .practice_area_text {

    margin-top: 15%;
}
	.practice_area_contaiener .practice_area_content_box .text_shape {
    shape-outside: polygon(-31px 80px, 98px 453px, -24px -118px);
}

.practice_area_contaiener .practice_area_content_box .practice_area_text {
    padding: 25px 35px 35px 39px;
   
}

}



