#references_fluid{
	
	width: 100%;
	 height: 100vh;
	 background-image: linear-gradient(rgba(255,255,255, .6), rgba(255,255,255, .6)) ,url("../images/team_bgg11.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;

	
}


.references_container {

	    width: 70%;
	    background-repeat: no-repeat;
	    background-image: url(../images/reference_box_bg11.png);
	    background-position: center center;
	    background-size: contain;
	    height: 60%;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
		display: flex;
	    justify-content: center;
	    align-items: center;

	 .references_content_box {
	 	    width: 70%;

	 	 .reference_text_box{

	 	 	   p {
	 	 	   	font-size: 18px;
	 	 	   	color: #000000;
	 	 	   	font-family: 'Conv_CentraleSans-Medium';
	 	 	   }

	 	 	   span {

	 	 	   		color: #000000;
	 	 	   		font-size: 16px;	
	 	 	   }
	 	 }
	 }
}



/*responsive*/

@media only screen and (max-width: 1500px) {
	
	.references_container .references_content_box .reference_text_box p {
	    font-size: 16px;

	}

	.references_container .references_content_box .reference_text_box span {
	   
	    font-size: 14px;
	}

}


@media only screen and (max-width: 1376px) {

	.references_container .references_content_box .reference_text_box p {
    font-size: 14px;
}
}



@media only screen and (max-width: 1024px) {

.references_container .references_content_box .reference_text_box p {
    font-size: 13px;
}

}



