#team_fluid {
	width: 100%;
	 height: 100vh;
	 background-image: linear-gradient(rgba(255,255,255, .6), rgba(255,255,255, .6)) ,url("../images/team_bgg11.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}





.team_container {

	 max-width: 1230px;

	 	.owl-carousel {
	 		position: relative;
	 	}

	  .owl-dots {
	  	display: none;
	  }

			.team_slide {

				.owl-nav {
						
					 position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%,-50%);
				    display: flex;
				    justify-content: space-between;
				    width: 115%;
				    z-index: -1;
									  

					 	.owl-prev, .owl-next{

					 		outline: none;
					 		width: 50px;
    						height: 50px; 
    						 background-repeat: no-repeat;
					    	background-size: contain;
					    	background-position: center center;

					 		span {
					 			display: none;
					 		}
					 	}

					 	.owl-prev{
							background-image: url("../images/slider_left.png");

					 	}

					 	.owl-next {
							background-image: url("../images/slider_right.png");
					 	}

					 	
				}
		

	  	  .item {
				
				display: flex;
				justify-content: center;
				position: relative;

				 .slider_icons {
				 	position: absolute;
				 	right: -30px;
				 	top: 0;

				 	 a{
				 	 	width: 30px;
				 	 	height: 30px;
				 	 	background-color: #5B5B5B;
				 	 	display: flex;
				 	 	justify-content: center;
				 	 	align-items: center;

				 	 		&:not(:last-child){
				 	 			margin-bottom: 10px;
				 	 		}

				 	 	 img {
				 	 	 	width: unset;
				 	 	 }

				 	 }
				 }
					

	  	  	    .team_box {
						
						/*width: 213px;*/
						width: 100%;
						


							.team_img {
									
									background-image: url("../images/news_bg.jpg");
									background-size: cover;
									background-repeat: no-repeat;
									background-position: center center;
									border: 4px solid #5B5B5B;
									border-bottom: 4px solid #D90000;
									height:290px;
									display: flex;
								    align-items: flex-end;
								    justify-content: center;

									a {
										
										/*display: flex;
									    align-items: flex-end;
									    width: 100%;
									    height: 100%;*/


										      img {
										      	width: 100%;
											    height: 260px;
											    object-fit: cover;
											    text-align: center;
										      }
									}

							}

							.team_info {

								 background-color: #5B5B5B;
								 text-align: center;
								 padding: 6px 0;
								 margin-top: 10px;
								 padding: 7px 0;

								  h3 {
										
										font-size: 16px;
										font-family: 'Conv_CentraleSans-Medium';
										text-transform: uppercase;
										color: #fff;

								  }

								  span {
										
										color: #fff;
										font-size: 12px;
										font-family: 'Conv_CentraleSans-Medium';
										text-transform: capitalize;


								  }
							}





	  	  	    }
	  	  }
	  }
}

#team_info_fluid {

	width: 100%;
	 height: 100vh;
	 background-image: url("../images/team_info_bg.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}


.team_info_container {
	 width:77%;
	 display:flex;
	 position: relative;
	     justify-content: space-between;

	 .info_lines {
	 position: absolute;
  	top: 79%;
    left: 50%;
    transform: translate(-57%);

     img {
     	        width: 2320px;
     }

	 }


	  .team_info_button {
	  	    position: absolute;
		    bottom: 14%;
		    right: 3.2%;
		    z-index: 100;
		    cursor: pointer;
	  }

	 .team_info_img{
	 	flex: 0 0 35%;
	 	 display: flex;
	    align-items: center;
	    justify-content: center;

	 	 img {

	 	 	display: block;
    		margin-bottom: 2%;
	 	 }
	 }


	 .team_info_content {
	 	/*flex: 0 0 65%;*/
	 	width: 840px;
	 	background-color: #fff;
	 	padding: 50px 50px 120px 50px;
	 	    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 95%, 74% 100%, 0 96%, 0 0);


	 		.team_readmore {
	 			margin-top: 20px;

	 			 p {
	 			 	font-size: 12px;
	 			 	color: #3F3F3F;
	 			 	font-family: 'Conv_CentraleSans-Medium';
	 			 	text-align: justify;
	 			 }
	 		}

	 	 .team_profile_info{
	 	 		display: flex;
	 	 		justify-content: space-between;


	 	 		.team_social_icons {
	 	 			display: flex;

	 	 			 a {
	 	 			 	    border-radius: 50%;
						    width: 35px;
						    height: 35px;
						    border: 2px solid #000;
						    display: flex;
						    align-items: center;
						    justify-content: center;

						    &:not(:first-child){

						    	margin-left: 10px;
						    }
						    &:first-child img{
						     		width:8px;
						     	}
						     	&:last-child img{
						     		width:19px;
						     	}

						     img {
						     	width: 15px;

						     	
						     }
	 	 			 }
	 	 		}

	 	 	  .team_name_contact {

	 	 	  	  h2 {
	 	 	  	  	font-size:17px;
	 	 	  	  	color: #000;
	 	 	  	  	font-family: 'Conv_CentraleSans-Medium';
	 	 	  	  	    margin-bottom: 15px;
	 	 	  	  }

	 	 	  	  span {
	 	 	  	  	 color: #00005F;
	 	 	  	  	 font-size: 12px;
	 	 	  	  	 font-family: 'Conv_CentraleSans-Medium';
	 	 	  	  	 display: block;

	 	 	  	  }
	 	 	  }
	 	 }
	 }


}