


#main_fluid {

	 width: 100%;
	 height: 100vh;
	 background-image: url("../images/home_bg.jpg");
	 background-size: cover;
	 background-position: center center;
	 background-repeat: no-repeat;
	 position: relative;
	 overflow: hidden;
}

.main_fluid_bot_arrow {
	position: absolute;
	bottom: 5%;
	left: 5%;
	z-index: 100;
}

.header_fluid {
			
		position: absolute;
		top: 0;
		left: 0;	
		 width: 100%;	
		display: flex;
		justify-content: space-between;
		z-index: 15;



		.navigation {

			 flex: 0 0 45%;
			 background-color: #fff;
 					

 					ul {
 						    
 						    display: flex;
						    height: 100%;
						    justify-content: space-between;
						    align-items: center;



						    li {
						    	position: relative;
						    	flex: 0 0 25%;
    							text-align: center;
    							width: 100%;
    							    padding: 7px 10px 12px 20px;
    							cursor:pointer;


						    	&:hover .dropdown_nav{

 											display:block !important;
 									}
						    }

						    li:first-child a{

						    	position:relative;


						    			&:after {
											    position: absolute;
											    content: "";
											    top: 3px;
											    right: -37%;
											    width: 22px;
											    height: 10px;
											    background-image: url(../images/navigation_arrow11.png);
											    background-repeat: no-repeat;

											    			}
						    	
						    }

 								a {
 									color: #000000;
 									font-family: 'Conv_CentraleSans-Medium';
 									font-size: 12px;
 									text-transform: uppercase;
 									position: relative;





 									&:before{
										
									    content: "";
									    position: absolute;
									    top: 16px;
									    left: 0;
									    width: 50%;
									    height: 4px;
									    background-color: #D90000;
									    transition: .4s;
									    opacity: 0;
 									}
									
									&:hover:before{
											
											opacity: 1;
									
 										

 								}
									}
 					}
		} 

}

.dropdown_nav {

	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	display: none;
	animation: homeAnime .4s;

	 ul {

	 	flex-direction: column;
	 	 margin-top: 30px;
	 	 padding: 20px 0;

	 	 li {
	 	 	 width: 80%;
   			 text-align: left !important;
   			 background-color:#fff;

	 	

	 	 	 a {
	 	 	 	font-size: 11px !important;
	 	 	 	

	 	 	 	&:after{
	 	 	 		content:unset !important;
	 	 	 	}
	 	 	 }
	 	 }
	 }
}


	.home_vertical_tittle {

	    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 0;
    left: -13%;



      		 .vert_tittle {
      		 	    transform: rotate(90deg);
      		 	    display: flex;
      		 	    align-items: center;
      		 	    animation: homeAnime .4s;
      		 	    display: none;

      		 	    &.active{

      		 	    	display:flex;
      		 	    }

      		 	    .title_line {
					     width: 130px;
					    height: 3px;
					    background-color: #fff;
					    margin-right: 15px;
					  
      		 	    }

      		 	  h2 {
      		 	  	color: #fff;
      		 	  	font-family: 'Conv_CentraleSans-Medium';
      		 	  	font-size: 22px;
      		 	  	text-transform: uppercase;
      		 	  }
      		 }
      }



.home_main_container {

      width: 100%;
      display: flex;
     	height: 100%;


      
      	.home_navbar {

      		 display: flex;
      		 align-items: center;
      		     margin-left: 15%;

      		   ul {

      		   	    li {
      		   	    	margin-bottom: 50px;

      		   	    	a {
								color: #fff;
							    font-size: 22px;
							    font-family: 'Conv_CentraleSans-Medium';
							    text-transform: capitalize;
							    border-bottom: 2.5px solid #fff;
							    width: 225px;
							    display: inline-block;
							    text-align: center;
							    padding: 5px 0px;
							    border-radius: 62px 58px 4px 4px;
							    transition: .4s;

								
							    &.active {
							    	border-bottom: 2.5px solid #D90000;
							    }
      		   	    	}
      		   	    }
      		   }
      	}
		

		.home_navbar_content {
				display: flex;
				align-items: center;
				width: 100%;

				
				.home_navbar_info {
						    max-width: 55vw;
						    padding: 3.5vw 5vw;
						    background-color: #fff;
						    margin-left: 30px;
						    display: none;
						    perspective: 200px;
						    animation: homeAnime .4s;
						    position: relative;

						    .home_navbar_info_button {
						    	position: absolute;
						    	bottom: 5%;
						    	right: 5%;
						    	z-index: 100;
						    	cursor: pointer;
						    }

						    	&.active {
						    		display: block;
						    	}



						 h2 {
						 	color: #000000;
						 	font-family: 'Conv_CentraleSans-Medium';
						 	font-size: 20px;
						 	margin-bottom: 35px;
						 	text-transform: capitalize;

						 }

						 p {
						 	color: #000;
						 	font-size: 16px;
						 	font-family: 'Conv_Centrale Sans Extra Light';
						 	text-align: justify;

						 }
				}
		}

}

.navbar_pages {
	transition:.4s;

	 &.deactive {
	 	visibility: hidden;
	 	opacity: 0;

	 }
}


@keyframes homeAnime {

	0% {
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}


 .navigation .navbar_pr:hover  ul{
  perspective: 1000px;
}
.navbar_pr:hover  ul li {
  transform-origin: top center;
  opacity: 0;
}
.navbar_pr:hover  ul li:nth-child(1) {
  animation-name: menu-4;
  animation-delay: 0ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover ul li:nth-child(2) {
  animation-name: menu-4;
  animation-delay: 50ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(3) {
  animation-name: menu-4;
  animation-delay: 100ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(4) {
  animation-name: menu-4;
  animation-delay: 150ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(5) {
  animation-name: menu-4;
  animation-delay: 200ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(6) {
  animation-name: menu-4;
  animation-delay: 250ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(7) {
  animation-name: menu-4;
  animation-delay: 300ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(8) {
  animation-name: menu-4;
  animation-delay: 350ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(9) {
  animation-name: menu-4;
  animation-delay: 400ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(10) {
  animation-name: menu-4;
  animation-delay: 450ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(11) {
  animation-name: menu-4;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.navbar_pr:hover  ul li:nth-child(12) {
  animation-name: menu-4;
  animation-delay: 550ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes menu-4 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  70% {
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


//



.home_navbar a:hover {
   
    border-bottom:2.5px solid #D90000 !important;

}

.language_box {

	position:absolute;
	z-index:10;
	bottom:5%;
	right:5%;

	  span {
	  	font-size:18px;
	  	font-family: 'Conv_CentraleSans-Medium';
	  	text-transform:uppercase;
	  	color:#000;
	  	cursor:pointer;

	  }
}


/*Responsive*/


@media only screen and (max-width: 1450px) {

    .header_fluid .navigation ul li {
    	line-height: 20px; 
    	padding: 7px 7px 12px 10px;
	}
	.dropdown_nav ul li a {
    font-size: 10px !important;
}

.header_fluid .navigation ul a {
    font-size: 11px;
	}


	.home_main_container .home_navbar ul li a {
    font-size: 20px;
   
	}
	.header_fluid .navigation {
    flex: 0 0 53%;
    
}
.home_main_container .home_navbar ul li {
    margin-bottom: 40px;
}

.home_main_container .home_navbar_content .home_navbar_info {
    max-width: 57vw;
    padding: 2.5vw 4vw;
  
}
.home_main_container .home_navbar_content .home_navbar_info p {
   
    font-size: 15px;
    
}

}

@media only screen and (max-width: 1366px){
	
	#main_fluid {
	    
	    background-size: 100% 100%;
	  
	}

	.dropdown_nav ul {
	    margin-top: 20px;
	}


	

}

@media only screen and (max-width: 1366px) and (max-height: 830px){
	.home_main_container .home_navbar_content .home_navbar_info p {
   
    font-size: 13px;
    
}
.home_main_container .home_navbar_content .home_navbar_info h2 {
   
    font-size: 18px;
    margin-bottom: 20px;
 
}

}

@media only screen and (max-width: 1656px) and (max-height: 700px){

.home_main_container .home_navbar_content .home_navbar_info {
    max-width: 58vw;
    padding: 1.5vw 3vw;
    height: calc(100% - 200px);
    overflow-y: scroll;
}
.home_main_container .home_navbar_content .home_navbar_info .home_navbar_info_button {
    position: absolute;
    bottom: -13%;
    right: 5%;
    z-index: 100;
    cursor: pointer;
}
.home_main_container .home_navbar_content .home_navbar_info.active {
    margin-top:5%;
}

}



@media only screen and (max-width: 1220px){
	.dropdown_nav ul li a {
    font-size: 9px !important;
}
.header_fluid .navigation ul li {
    line-height: 17px;
    padding: 7px 4px 12px 4px;
}

	.home_main_container .home_navbar ul li a {
	    font-size: 22px;
	    width: 205px;
  
	}

	.home_main_container .home_navbar ul li {
    margin-bottom: 30px;
}

}
